.BoardPage {
  height: 100vh;
  width: 100vw;
  display: grid;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  grid-template-columns: repeat(3, auto);
  grid-auto-flow: row; /* Organiza os elementos em linhas */
  background-color: aquamarine;
}
