div.card {
  margin: 10px;
  width: 260px;
  background: linear-gradient(to right, rgb(58, 123, 213), rgb(0, 210, 255));
  color: white;
  border: none;
}

.RoomCard .card-body {
  height: 166px;
}

.RoomCard .card-text {
  padding-left: 2px;
}

.RoomCard .btn {
  position: absolute;
  left: 176px;
  background-color: rgb(68, 133, 223);
  border: none;
}

@media (max-width: 770px) {
  div.card {
    width: 200px;
  }

  .RoomCard .btn {
   
    left: 118px;
    
  }
}
