.RoomPage {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 70px;

}


.red {
  position: fixed;
  bottom: 15px;
  right: 15px;
}

@media (max-width: 770px) {
  .flexCards {
    padding: 50px;
    justify-content: center;
    align-items: center;
  }
}
